<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><b>Summary Video of complete guide</b> </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>
    <b
      >The following video shows how to guide and what to expect when walking
      with a Visually Impaired Person (VIP)</b
    >
  </p>
  <br />
  <br />
  <br />
  <div class="ratio">
    <iframe
      src="https://www.youtube.com/embed/kpfnXJtekcw"
      title="YouTube video"
      allowfullscreen
    ></iframe>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      shape="round"
      expand="block"
      class="upload"
      routerLink="/module2"
      >Next</ion-button
    >
  </ion-toolbar>
</ion-footer>
