<ion-header>
  <ion-toolbar>
    <ion-title><b>Volunteer Handbook</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi dicta
    mollitia quasi tempore praesentium, laudantium id ullam inventore minima
    totam? Facilis ab unde itaque explicabo sequi? Dolore nam quos eaque dolores
    at illum alias delectus eos illo repellendus nobis minima, quam nostrum
    velit nesciunt. Vero hic qui fuga. Repellendus, asperiores.
  </p>

  <ion-list>
    <ng-container>
      <ion-item routerLink="/module1">
        <ion-avatar slot="start">
          <img src="https://via.placeholder.com/50" alt="Profile Picture" />
        </ion-avatar>
        <div>
          <ion-label>
            <span>Summary Video of complete guide</span>
            <span>5 min</span>
          </ion-label>
        </div>
      </ion-item>
      <ion-item routerLink="/module2">
        <ion-avatar slot="start">
          <img src="https://via.placeholder.com/50" alt="Profile Picture" />
        </ion-avatar>
        <div>
          <ion-label>
            <span>Introduction and General Tips</span>
            <span>4 min</span>
          </ion-label>
        </div>
      </ion-item>
      <ion-item routerLink="/module3">
        <ion-avatar slot="start">
          <img src="https://via.placeholder.com/50" alt="Profile Picture" />
        </ion-avatar>
        <div>
          <ion-label>
            <span>
              How to walk with a VIP (Basic non-verbal and verbal cues)
            </span>
            <span>8 min</span>
          </ion-label>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button shape="round" expand="block" class="upload"
      >Upload Enhanced DBS</ion-button
    >

    <ion-button
      shape="round"
      fill="outline"
      expand="block"
      class="orange-button"
      >Remind Me Later</ion-button
    >
  </ion-toolbar>
</ion-footer>
